@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
.headerPart{
  background-size: cover;
  background-color: #CCB6B3;
  /*background-image: url('DSC01775.JPG');*/
  /*background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Avinguda_de_Francesc_Ferrer_i_Gu%C3%A0rdia_-_panoramio.jpg/1280px-Avinguda_de_Francesc_Ferrer_i_Gu%C3%A0rdia_-_panoramio.jpg');*/
}

li,ul{
  list-style-type: none;
}

#availableBudget {
  font-size:20pt;
  color:white;
}
#differenceBudget{
  font-size:20pt;
}

#incomeHeader{
  font-size:20pt;
  /* background-color: blue; */
  list-style-type:none;
}
#expensesHeader{
  font-size:20pt;

  list-style-type:none;
}
header li{
  margin-top: 5%;
}
#incomeHeaderLabel{
  color: white;
  text-decoration: none;
}
#expensesHeaderLabel{
  color: white;
  text-decoration: none;
}
#incomeHeaderNumber{
  color: white;
  text-decoration: none;
  text-align: right;
}
#expensesHeaderNumber
{
  color: white;
  text-decoration: none;
  text-align: right;
}
#testClass{
  background-color: red;
}
.selectorBar{
  background-color: red;
}
#headerColOne{
  color:green;
}
#headerColTwo{
  color:red;
}

.testClass{
  background-color: white;
}
#income .num{
  color:green;
}
#income .num{
  color:red;
}
